<nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
    <div class="container">
        <!--a class="navbar-brand" href="#">
            <img src="assets/R+V-Logo.svg.png" height="30" alt="">
        </a-->
        <ul class="nav navbar-nava" routerLinkActive="active">
            <!--ul class="nav nav-tabs" routerLinkActive="active"-->
            <li class="nav-item"><a class="nav-link" routerLink="templates">Templates</a></li>
            <!-- li class="nav-item"><a class="nav-link" routerLink="xslt">XSLT</a></li -->
            <li class="nav-item"><a class="nav-link" routerLink="ckeditor4">XSLT</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="documents">Dokumente</a></li>
        </ul>
    </div>
</nav>

<router-outlet></router-outlet>