.pagination {
    margin: 0 0 1em 1.5em; /*top right bottom left*/
    list-style-type: none;
    padding: 0em;
    width: 15em;
  }
  .pagination li {
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: #EEE;
    margin: .5em;
    margin-top: .5em;
    margin-bottom: .5em;
    margin-right: .1em;
    margin-left: .1em;
    padding: 0.1em 0.1em;
    height: 1.6em;
    border-radius: 2px;
  }
  .pagination li:hover {
    color: #607D8B;
    background-color: #DDD;
    left: .1em;
  }
  .pagination li.selected {
    background-color: #CFD8DC;
    color: white;
  }
  .pagination li.selected:hover {
    background-color: #BBD8DC;
    color: white;
  }
  .pagination .badge {
    display: inline-block;
    font-size: small;
    color: white;
    padding: 0.8em 0.7em 0 0.7em;
    background-color:#405061;
    line-height: 1em;
    position: relative;
    left: -1px;
    top: -4px;
    height: 1.8em;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
  }

.paginationList {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 15em;
    height: 15em;
  }
  .paginationList li {
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: #EEE;
    margin: .5em;
    margin-top: .5em;
    margin-bottom: .5em;
    margin-right: .0em;
    margin-left: .0em;
    padding: 0.1em 0.1em;
    height: 1.6em;
    border-radius: 4px;
  }
  .paginationList li:hover {
    color: #607D8B;
    background-color: #DDD;
    left: .1em;
  }
  .paginationList li.selected {
    background-color: #CFD8DC;
    color: white;
  }
  .paginationList li.selected:hover {
    background-color: #BBD8DC;
    color: white;
  }
  .paginationList .badge {
    display: inline-block;
    font-size: small;
    color: white;
    padding: 0.8em 0.7em 0 0.7em;
    background-color:#405061;
    line-height: 1em;
    position: relative;
    left: -1px;
    top: -4px;
    height: 1.8em;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
  }